# ROS2 Build and Log folders
build/
install/
log/
.vscode/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS specific
.DS_Store
Thumbs.db

# Temp python scripts
calc_transforms.py
fix_cam1_rot.py
test_tf.py
test_quats.py
test_cams.py
test_trans.py
fix_quats.py
