[submodule "src/pkg/babyk_drone_manager"]
	path = src/pkg/babyk_drone_manager
	url = https://github.com/Prisma-Drone-Team/babyk_drone_manager.git
	branch = vio
[submodule "src/pkg/path_planner"]
	path = src/pkg/path_planner
	url = https://github.com/Prisma-Drone-Team/path_planner.git
	branch = vio
[submodule "src/pkg/traj_interp"]
	path = src/pkg/traj_interp
	url = https://github.com/Prisma-Drone-Team/traj_interp.git
	branch = vio
[submodule "src/pkg/drone_odometry"]
	path = src/pkg/drone_odometry
	url = https://github.com/Prisma-Drone-Team/drone_odometry.git
	branch = master
